<mat-nav-list>
  <!-- <a mat-list-item routerLink="/innermenu/innerhome" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/innermenu/innerabout" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">about</span>
  </a> -->
  <ng-container *ngFor="let i of menu">
    <a (click)='getMenu(i.label)' mat-list-item routerLink="{{i.link}}" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">{{i.label}}</span>
    </a>
  </ng-container>

</mat-nav-list>
